<html>
    <head>
        <title>Add Game</title>
    </head>
    <body>
        <h1>Add a Game</h1>
        <form action="/new" method="post">
            <div>
                <label for="name">Game Title</label>
                <div><input type="text" name="name" id="name"></div>
            </div>
            <div>
                <label for="platforms">Platform(s)</label>
                <div>
                    <% platforms.forEach((platform) => {%>
                        <input type="checkbox" name="platforms" id="<%=platform %>" value="<%=platform %>">
                        <label for="<%=platform %>"><%=platform %></label>
                    <% }); %>
                </div>
            </div>
            <div>
                <label for="genres">Genre(s)</label>
                <div>
                    <% genres.forEach((genre) => {%>
                        <input type="checkbox" name="genres" id="<%=genre %>" value="<%=genre %>">
                        <label for="<%=genre %>"><%=genre %></label>
                    <% }); %>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>