<html>
    <head>
        <title>Update Game</title>
    </head>
    <body>
        <h1>Updating <%=game_name %></h1>
        <form action="/update/<%=game_id%>" method="post">
            <div>
                <label for="name">Game Title</label>
                <div><input type="text" name="name" id="name" value="<%= game_name%>"></div>
            </div>
            <div>
                <label for="platforms">Platform(s)</label>
                <div>
                    <% allPlatforms.forEach((platform) => {%>
                        <input type="checkbox" name="platforms" id="<%=platform %>" value="<%=platform %>"
                            <% if (platforms && platforms.includes(platform)) { %> checked <% } %> >
                        <label for="<%=platform %>"><%=platform %></label>
                    <% }); %>
                </div>
            </div>
            <div>
                <label for="genres">Genre(s)</label>
                <div>
                    <% allGenres.forEach((genre) => {%>
                        <input type="checkbox" name="genres" id="<%=genre %>" value="<%=genre %>"
                            <% if (genres && genres.includes(genre)) { %> checked <% } %> >
                        <label for="<%=genre %>"><%=genre %></label>
                    <% }); %>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>